<ion-content>
  <ion-toolbar color="clear" style="position: fixed;">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tasks/all"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon  name="pencil-sharp"></ion-icon>
      </ion-button>
      <ion-button color="light">
      <ion-icon color="light" name="trash-sharp"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="6"  offset-md="3" class="ion-no-padding">
        <img src="../../assets/img/exercise.jpg" >
        <div class="ion-padding task-details">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-icon name="calendar-sharp"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h1 color="primary">Work Out</h1>
              <h3>8 am - 9 am</h3>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. 
              </p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-icon name="flag-sharp"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Every day</h2>
              <h3>1 hour</h3>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-icon name="notifications-sharp"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Reminder</h2>
              <h3>10 minute before</h3>
            </ion-label>
          </ion-item>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>        