<ion-content>
  <ion-toolbar color="clear" style="position: fixed;">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/tasks/all"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light">
        <ion-icon  name="pencil-sharp"></ion-icon>
      </ion-button>
      <ion-button color="light">
      <ion-icon color="light" name="trash-sharp"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size-md="6"  offset-md="3" class="ion-no-padding" *ngFor="let task of taskdetails" >
        <img [src]="setBgurl(task.category.cindex)" >
        <h3 class="category" [ngStyle]="{background: task.category.color}">{{task.category.name}}</h3>
        <div class="ion-padding task-details">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-icon name="calendar-sharp" [ngStyle]="{color: task.category.color}" ></ion-icon>
            </ion-avatar>
            <ion-label>
              <h1 color="primary">{{task.title}}</h1>
              <h3>{{setTime(task.start)}} - {{setTime(task.end)}}</h3>
              <p>
                {{task.detailed}}
              </p>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-icon name="flag-sharp" [ngStyle]="{color: task.category.color}"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{setDays(task.days)}}</h2>
              <h3>{{calTP(task.timePeriod)}}</h3>
            </ion-label>
          </ion-item>

          <ion-item lines="none">
            <ion-avatar slot="start">
              <ion-icon name="notifications-sharp" [ngStyle]="{color: task.category.color}"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>Reminder</h2>
              <h3>{{task.reminder.before}} minute before</h3>
            </ion-label>
          </ion-item>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>        