<ion-toolbar >
  <ion-buttons slot="start">
    <ion-back-button color="secondary" defaultHref="/tasks"></ion-back-button>
  </ion-buttons>
  <ion-title color="secondary">
    Add your Task 
  </ion-title>
</ion-toolbar>
<ion-content>
    <ion-grid class="ion-no-padding" >
      <ion-row>
        <ion-col size-md=6 offset-md=3 class="ion-no-padding" >
          <div class="">
            <form novalidate [formGroup]="taskform" (ngSubmit)="addTask(taskform.value)">
              <ion-item  lines="full" class="ion-no-padding" >
                <ion-label style="font-size: unset;">Choose a goal</ion-label>
                <ion-select formControlName="category" required 
                            style="max-width: 60%;" mode="ios" okText="Okay" cancelText="Cancel">
                  <ion-select-option *ngFor="let item of category" [value]="item.cindex">
                    {{item.name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item  lines="full" class="ion-margin-vertical ion-no-padding">
                <ion-label position="stacked">Task name</ion-label>
                <ion-input  formControlName="title" required
                            type="text"  ></ion-input>
              </ion-item>

              <ion-item  lines="full" class="ion-no-padding">
                <ion-label position="stacked">Task details</ion-label>
                <ion-textarea   formControlName="detailed" required
                                rows="2" ></ion-textarea>
              </ion-item>

              <div class="form-msg">
                <p>
                  Select <b>Everyday</b> for daily tasks and <b>Today</b> for single day task. 
                </p>
                <p>
                  Select multiple days for multiple tasks.
                </p>
              </div>

              <ion-item  lines="full" class="ion-no-padding" >
                <ion-label style="font-size: unset;">Select days</ion-label>
                  <ion-select multiple="true" formControlName="days" required
                              (ionChange)="checkDays()"
                              style="max-width: 60%;" mode="ios"  okText="Okay" cancelText="Cancel">
                  <ion-select-option value="today">Today</ion-select-option>
                  <ion-select-option value="everyday">Everyday</ion-select-option>
                  <ion-select-option value="monday">Monday</ion-select-option>
                  <ion-select-option value="tuesday">Tuesday</ion-select-option>
                  <ion-select-option value="wednesday">Wednesday</ion-select-option>
                  <ion-select-option value="thursday">Thursday</ion-select-option>
                  <ion-select-option value="friday">Friday</ion-select-option>
                  <ion-select-option value="saturday">Saturday</ion-select-option>
                  <ion-select-option value="sunday">Sunday</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item class=" ion-no-padding" lines="full">
                <ion-label style="font-size: unset;">Start Time</ion-label>
                <ion-datetime formControlName="start" required  
                              display-format="h:mm A" picker-format="h:mm A" ></ion-datetime>
              </ion-item>

              <ion-item class=" ion-no-padding" lines="full">
                <ion-label style="font-size: unset;">End Time</ion-label>
                <ion-datetime   formControlName="end" required
                                display-format="h:mm A" picker-format="h:mm A" ></ion-datetime>
              </ion-item>

              <ion-item  lines="full" class="ion-no-padding" >
                <ion-label style="font-size: unset;">Reminder</ion-label>
                <ion-select   formControlName="reminder" required
                              style="max-width: 60%;" mode="ios" okText="Okay" cancelText="Cancel">
                  <ion-select-option value="5">5 minutes before</ion-select-option>
                  <ion-select-option value="10">10 minutes before</ion-select-option>
                  <ion-select-option value="15">20 minutes before</ion-select-option>
                  <ion-select-option value="30">30 minutes before</ion-select-option>
                </ion-select>
              </ion-item>

              <div style="text-align: right;margin: 5px 20px;">
                <ion-button color="primary" type="submit" [disabled]="taskform.invalid" >Add Task</ion-button>
              </div> 
            </form>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
